.tbl1 {
    width: 100%;
    background: lightblue;
    color: white;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.tbl2 {
    width: 100%;
    background: lightblue;
    color: white;
    table-layout: fixed;
}
.tbl3 {
    width: 100%;
    background: lightblue;
    color: white;
    table-layout: fixed;
}
.gray {
    text-align: center;
    color: gray;
}
.black {
    text-align: center;
    color: black;
}
